<h2>Edit Product</h2>


<form class="" action="/products/<%=product._id%>" method="post">
  <label for="product-name-input" value= "">Name: </label>
  <input id="product-name-input" name="productName" value="<%=product.name%>" type="string">
  <br>
  <label for="product-price-input" value= "">Price: </label>
  <input id="product-price-input" name="productPrice" value="<%=product.price%>" type ="number">
  <br>
  <label for="product-imageUrl-input" value= "">ImageUrl: </label>
  <input id="product-imageUrl-input" name="productImageUrl" value="<%=product.imageUrl%>" type="string">
  <br>
  <label for="product-description-input" value= "">Description</label>
  <textarea id="product-description-input" name="productDescription"  type="string"><%=product.description%></textarea>
<br>
<button >submit</button>

</form>
