<h2><%=product.name %></h2>

<img src="<%=product.imageUrl %>" alt="">
<h3>Price: <%=product.price %></h3>
<p>
    <%=product.description %>
</p>
<a href="/product/<%=product._id%>/reviews/new">Review Product</a>
<form class="" action="/product/<%= product._id%>/delete" method="post">
    <button>Delete</button>
</form>
<hr>
<h3>User Reviews</h3>
<ul>
    <% product.reviews.forEach((oneReview) => { %>
        <li>
            <p>
                <%=oneReview.content%>
            </p>
            <p>
                <%=oneReview.stars%> out of 5 stars</p>
            <strong><%=oneReview.author%></strong>
        </li>
        <%  }); %>
</ul>
