<h2> Products List </h2>
<ul>
  <% products.forEach((oneProduct) => { %>
  <li>
  <%= oneProduct.name %> - $<%= oneProduct.price %>
  <a href="/product/<%= oneProduct._id%>">view details</a>
  <br>
  <a href="/product/<%= oneProduct._id%>/edit">Edit</a>
  <br>
  <form class="" action="/product/<%= oneProduct._id%>/delete" method="post">
    <button>Delete</button>
  </form>
</li>
<% }) %>
</ul>

<a href="products/new"> Add a new Product</a>
